<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h2 class="modal-title" >USUARIOS</h2>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data" action="{% url 'registrar_usuario' %}">
            {% csrf_token %}
            {{form.as_p}}
            <div class="modal-footer">
                <!--<a class="btn btn-danger" href="{% url 'listar_usuarios' %}" role="button" >Cancelar</a>-->
                <button class=" btn btn-primary" type="submit">Registrar</button>
            </div>
        </form>
    </div>
  </div>
</div>
