<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content" style="width: 50%; margin-left: 28%; margin-top:12%; border-radius: 5%;">
      <div class="modal-header">
          <h2 class="modal-title" style="margin-left: 15%;">Agregar Producto</h2>
      </div>
      <form method="POST"  enctype="multipart/form-data" action="{% url 'createProduct' %}">
        <div>
            {% csrf_token %}
        </div>
        <div>
            <div>
                <p>Nombre del producto:</p>
                {{form.name}}
            </div>    
            <div>
                <p>Categoria del producto: </p>
                {{form.category}}</div>
            <div>
                <p>Precio del producto: </p>
                {{form.price}}</div>
            <div>
                <p>Stock del producto: </p>
                {{form.stock}}</div>
            <div>
                <p>Marca del producto:</p>
                {{form.brand}}</div>
            <div >
                <p>Imagen del producto:</p>
                {{form.image}}</div>
        </div>
      <div class="modal-footer">
            <a class="btn btn-primary" href="{% url 'listProduct' %}" role="button" >Cancelar</a>
            <button class=" btn btn-primary" type="submit">Confirmar</button>
      </div>
  </div>
</div>