{% extends 'plantilla_padre.html' %}
{% block title %} Lista de Productos{% endblock title %}
{% block encabezado %}

<link href="js/ventana emergente.js">
<div class="card-body d-flex">
LISTA DE PRODUCTOS
<a onclick="abrir_modal_edicion('{% url 'createProduct' %}')" class="btn btn-primary ml-auto" role="boton" type ="submit">Agregar</a>
</div>
{% endblock encabezado %}
{% block content %}
<div>
  <table class="table table-striped">
    <tr style="text-align: center;">
      <th>Codigo</th>
      <th>Producto</th>
      <th>Marca</th>
      <th>Categoria</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Imagen</th>
      <th>Opciones</th>
    </tr>
    <tr>
      <tb>
        {% for p in Productos %}
        <tr style="text-align: center;">
          <td>{{p.f_id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.brand}}</td>
          <td>{{p.category}}</td>
          <td>{{p.price}}</td>
          <td>{{p.stock}}</td>
          <td><img src="{{p.image.url}}" alt="" style="width: 100px;"></td>
          <td>
            <a onclick="abrir_modal_edicion('{% url 'editProduct' p.id %}')" class="btn btn-primary" role="button"><img src="https://cdn-icons-png.flaticon.com/512/45/45406.png" width="30px"></a>
            <a onclick="abrir_modal_edicion('{% url 'deleteProduct' p.id %}')" class="btn btn-danger" role="boton" ><img src="https://cdn-icons-png.flaticon.com/512/88/88666.png" width="30px"></a>
          </td>
        </tr>
        {% endfor %}
      </tb>
    </tr>
  </table>
</div>



<div class="modal fade" id="edicion" role="dialog">


</div>


{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock extrajs %}