{% extends 'plantilla_padre.html' %}
{% block title %} Lista de Productos{% endblock title %}
{% block encabezado %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>  
<header>
  <nav class="navbar navbar-dark bg-primary">
    <div class="card-body d-flex">
        <h1 style="color: lavender">Trabajo Grupal</h1>
        <button type="button" class="btn btn-info position-relative" style="height: 2%; margin-left: 55%;">Perfil</button>
        <button type="button" class="btn btn-info" style="height: 2%; margin-left: 1%;">Notificaciones</button>
        <button type="button" class="btn btn-success" style="margin-left: 1%; height: 2%;">Ingresar</button>
    </div>
  </nav>
</header>
{% endblock encabezado %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <nav class="navbar navbar-light">
        <div class="card-body d-flex">
            <h2>PRODUCTOS</h2>
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="padding-right: 45px;">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <a onclick="abrir_modal_edicion('{% url 'createProduct' %}')" class="btn btn-primary" role="button" type ="submit" style="margin-left: 50%;height: 2%;">Agregar</a>
        </div>
    </nav>
    <div>
      <table class="table table">
          <tr>
              <th><p>Codigo</p></th>
              <th><p>Categoria</p></th>
              <th><p>Marca</p></th>
              <th><p>Producto</p></th>
              <th><p>Precio</p></th>
              <th><p>Stock</p></th>
              <th><p>Imagen</p></th>
              <th><p>Opciones</p></th>
          </tr>
        {% for p in Productos %}
          <tr style=" background-color: white;  background: white; border: 1px solid;" class="table-active" >
            <tb>
              <td >{{p.f_id}}</td>
              <td >{{p.name}}</td>
              <td >{{p.brand}}</td>
              <td >{{p.category}}</td>
              <td >{{p.price}}</td>
              <td >{{p.stock}}</td>
              <td ><img src="{{p.image.url}}" alt=""></td>
              <td >
                <a onclick="abrir_modal_edicion('{% url 'editProduct' p.id %}')" class="btn btn-primary" role="button"><img src="https://cdn-icons-png.flaticon.com/512/45/45406.png" width="30px"></a>
                <a onclick="abrir_modal_edicion('{% url 'deleteProduct' p.id %}')" class="btn btn-danger" role="boton" ><img src="https://cdn-icons-png.flaticon.com/512/88/88666.png" width="30px"></a>
              </td>
            </tb>
          </tr>
        {% endfor %}
    </table>
  </div>

<div class="modal fade" id="edicion" role="dialog">
</div>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
  function abrir_modal_edicion(url){
    $('#edicion').load(url, function(){
      $(this).modal('show');
    });
  }
</script>
{% endblock extrajs %}