{% load static %}
</html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INICIO DE SESION</title>
</head>
<body>
  <form method="POST" class="form-login">
    <h5>Formulario Login</h5>
    {% csrf_token %}
    <label>Nombre de Usuario</label>
    {{ form.username }}
    <label>Contraseña</label>
    {{form.password}}
    <button type="submit">Iniciar sesion</button>
  </form>
</body>
</html>