{% load static %}
        <div>
        <table class="table table-striped" style="width: 98%; margin-left: 1%; border: 1px solid black; margin-top: 50px;">
            {% csrf_token %}    
            <input type="text" name="username">
            <button type="submit">presiona aqui</button>


            <tr style="text-align: center; background: rgb(255, 255, 255);">
            <th style="">Codigo</th>
            <th>Producto</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Opciones</th>
            </tr>
            <tr>
            <tb>
        </div>