
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h2 class="modal-title" >A POR FIN SALEEEEEEEEE</h2>
          <button class="close" type="button" data-dismiss = "modal" aria-label="Close">
              <span aria-hidden="true"></span>
          </button>
      </div>
      <form method="POST"  enctype="multipart/form-data" action="{% url 'deleteProduct' object.id %}"> 
        {% csrf_token %}
        <h2>¿Desea eliminar el registro {{object.name}}?</h2>
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a class="btn btn-primary" href="{% url 'listProduct' %}" role="button">Cancelar</a>
     
      </div>
  </div>
</div>

  
