{% extends 'plantilla_padre.html' %}
{% block title %} Eliminar Producto {% endblock title %}
{% block encabezado %} Confirmar Eliminación de Registro {% endblock encabezado %}
{% block content %}
<form method="POST"  enctype="multipart/form-data"> 
  {% csrf_token %}
  <h2>¿Desea eliminar el registro {{object.name}}?</h2>
  <button type="submit" class="btn btn-primary">Eliminar</button>
  <a class="btn btn-primary" href="{% url 'listProduct' %}" role="button">Cancelar</a>
</form>
{% endblock content %}