
<div class="modal-dialog modal-lg" role="document" style="width: 300px; margin-top: 230px; border-radius: 500px;">
  <div class="modal-content" style="">
    <div class="modal-header">
        <h4 class="modal-title" style="margin: auto; text-transform: uppercase;">{{object.name}}</h4>
    </div>
    <form method="POST"  enctype="multipart/form-data" action="{% url 'deleteProduct' object.id %}"> 
      {% csrf_token %}
      <h5 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">¿Desea eliminar el registro?</h5>
      <div style="margin-top: 25px;margin-bottom: 25px; margin-left:46px; background-color: rgba(0, 255, 255, 0);">
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <a class="btn btn-primary" href="{% url 'listProduct' %}" role="button" style="margin-left: 30px;">Cancelar</a>
      </div>
  </div>
</div>

  
